<h1 class="about-me-title">About Me</h1>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p class="about-me-text">Technically-sound Application Engineer effective in analyzing relevant information and guiding product cycle from conception to completion. Manages design effort and guides installation process for on-schedule product launches. Consults with internal and external clientele and employs additional system resources to review and enhance configuration for optimal customer satisfaction.</p>
		</div>
		<div class="col-md-4">
			<%= image_tag "profile.JPG", width: '300', alt: 'Profile image', class: 'rotate90' %>
		</div>
	</div>
</div>
