<div class="container">
	<h1 class="mb-3">Contact Me</h1>
	<div class="row">
		<div class="col-md-6">
			<div>
				<p><strong>Phone Number</strong></p>
				<p><%= number_to_phone "819-351-4881" %></p>
			</div>
			<div>
				<p><strong>Email</strong></p>
				<a href="mailto:fredlefevre@outlook.com?Subject=PortfolioContact">Email Me</a>
			</div>
		</div>
		<div class="col-md-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5589.690894919169!2d-73.6231607!3d45.5333156!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91912017ae3a3%3A0x4b640a113fcf9457!2sFabrik8%20-%20Coworking%20pour%20entreprises!5e0!3m2!1sen!2sca!4v1580076990655!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
	</div>
</div>
